* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: yellow;
}

.container {
    height: 100%;
    background: yellow;
}

header {
    width: 100%;
    height: 20%;
    background: rgb(180, 170, 170);
    display: flex;
}


main {
    background: gray;
    display: flex;
    height: 100%;
    width: 100%;
}

.square {
    background: white;
    width: 10%;
    height: 60%;
    border-radius: 50%;
    margin-left: 3%;
    margin-top: 3%;
}

.sx {
    background: rgb(60, 60, 63);
    height: 100%;
    width: 33%;
    display: flex;
    justify-content: center;
}

.center {
    background: rgb(60, 60, 63);
    height: 100%;
    width: 34%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dx {
    background: rgb(60, 60, 63);
    height: 100%;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.big_button {
    width: 70%;
    height: 20%;
    border-radius: 10%;
    color: blue;
    font-size: x-large;
}

input {
    width: 90%;
    height: 5%;
    text-align: center;
}

.dis_button {
    width: 70%;
    height: 20%;
    border-radius: 10%;
    color: blue;
    font-size: x-large;
    background: grey;
}

footer {
    background: rgb(180, 170, 170);
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text1 {
    color: black;
    margin-left: 20%;
    font-weight: bold;
}


.text2 {
    color: black;
    margin-right: 20%;
    font-weight: bold;
}
@media screen and (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    header {
        height: 30%;
        align-items: center;
        justify-content: center
    }


    main {
        display: flex;
        flex-direction: column;
        
    }
    .sx {
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .dis_button {
        height: 70%;
        width: 80%;
    }
    
    .big_button {
        height: 70%;
        width: 80%;
    }
    .center {
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    input {
        height: 20%;
        width: 30%;
    }
    .dx {
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1em;
    }

    .text1 {
        margin-right: 20%;
    }

    .text2 {
       margin-left: 20%;
    }
}


